.form {
  &__fieldset {
    border: none;
    &__legend {
      opacity: 0;
    }
    &__bgdMain {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      background-color: $colorGrey;
      margin: 0 0 17px;
      border-radius: $radiusBlock;
      &__inputMain {
        width: 95%;
        font-size: 1.125rem;
        border: none;
        background-color: $colorGrey;
        &:focus {
          outline: none;
        }
      }
      &__labelMain {
        font-size: 2rem;
        padding: 0 7px;
      }
    }
    &__bgd {
      display: flex;
      &__content {
        @include loopForEachBlockListInputs($loopColorBlockList);
        &__inputsBgd {
          display: flex;
          justify-content: space-between;
          &__inputs {
            @include loopForEachInputs($loopColorBlockList);
          }
          // &__labels {
          // }
        }
        &__ul {
          opacity: 0;
          display: block;
          max-height: 0px;
          &__li {
            width: 0px;
          }
        }
      }
    }
  }
}

//On click
.openUlBlocks {
  opacity: 1;
  @include blockListInputs;
}
.openLiBlocks {
  width: 33.3%;
  padding: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.openInputsBgd {
  padding: 0 10px 25px 0;
}
.openInputs {
  opacity: 0.5;
}
.openContent {
  height: inherit;
  width: inherit;
  max-width: 667px;
}
