.form {
  &__fieldset {
    border: none;
    &__legend {
      opacity: 0;
    }
    &__bgdMain {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      background-color: $colorGrey;
      border-radius: $radiusBlock;
      &__inputMain {
        width: 95%;
        font-size: 1.125rem;
        border: none;
        background-color: $colorGrey;
        &:focus {
          outline: none;
        }
      }
      &__submitMain {
        font-size: 2rem;
        padding: 0 7px;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
    &__bgdTags {
      list-style-type: none;
      padding: 17px 0 0;
      flex-wrap: wrap;
      display: none;
      &__li {
        @include loopForEachTagsColor($loopColorTags);
        // border-radius: $radiusBlock;
        // font-size: 0.875rem;
        // border-radius: 5px;
        // padding: 5px 15px;
        // background-color: $colorPrimary;
        // max-width: 50%;
        // margin: 10px 10px 5px 0;
        // color: white;
        &__tagName {
          padding-right: 5px;
        }
        &__icone {
          cursor: pointer;
        }
      }
    }
    &__bgd {
      display: flex;
      flex-wrap: wrap;
      &__content {
        @include loopForEachBlockListInputs($loopColorBlockList);
        &__inputsBgd {
          display: flex;
          justify-content: space-between;
          &__inputs {
            @include loopForEachInputs($loopColorBlockList);
          }
          &__labels {
            cursor: pointer;
            margin-top: 2px;
            padding: 0 6px;
          }
        }
        &__ul {
          opacity: 0;
          display: block;
          max-height: 0px;
          &__li {
            width: 33.3%;
            padding: 6px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            opacity: 0.95;
            cursor: pointer;
            // position: relative;
            // left: 3%;
          }
        }
      }
    }
  }
}

// OPEN THE CURRENT LIST "ONCLICK"
// ______________________________
.openUlBlocks {
  opacity: 1;
  @include blockListInputs;
}
// .openLiBlocks {
//   min-width: 33.3%;
//   padding: 5px 0;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
.openInputsBgd {
  padding: 20px;
}
.openInputs {
  opacity: 0.5;
  padding-left: 6px;
}
.openContent {
  @include openContent;
  min-width: 223px;
}
// // _________________________
// // DISPLAY TAGS "ONCLICK"
// .appareilappearance {
//   background-color: $colorSecondary;
// }
