.form {
  &__fieldset {
    &__legend {
    }
    &__bgdMain {
    }
    &__bgd {
      &__content {
        &__inputs {
        }
        &__labels {
        }
        &__ul {
          display: flex;
          flex-wrap: wrap;
          overflow: scroll;
          max-height: 397px;
          max-width: 667px;
          list-style-type: none;
          font-size: 1.125rem;
          background: red;
          border-radius: 5px;
          &__li {
            width: 33.3%;
            padding: 4px 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
