// BLOCK LIST INPUTS
@mixin blockListInputs {
  display: flex;
  flex-wrap: wrap;
  max-height: 397px;
  max-width: 100%;
  overflow: auto;
  list-style-type: none;
  font-size: 1.125rem;
}

// LOOP FOR EACH CONTENT LIST INPUTS
@mixin loopForEachBlockListInputs($map) {
  @each $keys, $values in $map {
    &--#{$keys} {
      // max-width: 667px;
      width: 170px;
      height: 69px;
      border-radius: $radiusBlock;
      background-color: map-get($values, color);
      padding: 20px;
      margin: 17px 20px 0 0;
      color: white;
    }
  }
}
// LOOP FOR EACH INPUTS LIST
@mixin loopForEachInputs($map) {
  @each $keys, $values in $map {
    &#{$keys} {
      min-width: 86.5%;
      background-color: map-get($values, color);
      border: none;
      font-size: 1.125rem;
      &::placeholder {
        color: white;
      }
      &:focus {
        outline: 0;
      }
    }
  }
}
