// COLOR
$colorPrimary: #3282f7;
$colorSecondary: #68d9a4;
$colorTertiary: #ed6454;
$colorGrey: #e7e7e7;
$colorGreyDarker: #c7bebe;
// RADIUS
$radiusBlock: 5px;
// BOUCLES
$loopColorBlockList: (
  1: (
    color: $colorPrimary,
  ),
  2: (
    color: $colorSecondary,
  ),
  3: (
    color: $colorTertiary,
  ),
);
// ---
$loopColorTags: (
  1: (
    bgd: $colorPrimary,
  ),
  2: (
    bgd: $colorSecondary,
  ),
  3: (
    bgd: $colorTertiary,
  ),
);
